body {
    background-color: #595647;
    color: #cdc9c7;
    font-family: Arial, Helvetica, sans-serif;
}

p::first-letter {
    font-size: 1.5em;
    float: left;
    line-height: 40px;
    padding-top: 1px;
    padding-right: 4px;
}

.trait {
    color: #e5de7e;
    font-weight: bold;
}

dt {
    color: #e5de7e;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    color: #a7bee9;
}
hr {
    border-color: #b0aca0;
    border-width: 1px;
    width: 99%;
}

h2 {
    color: #a7bee9;
}

a {
    color: #ba6c61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.font_itatic {
    font-style: italic;
}

ol li ul {
    list-style: none;
    padding-left: 0px;
    color: #e5de7e;
    font-weight: bold;
}

ol li ul li {
    list-style: none;
    padding-left: 40px;
    color: #cdc9c7;
    font-weight: normal;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}

ol li {
    flex: 0 0 auto;
}